.skillnode-container {
  display: flex;
  align-items: center;

  cursor: pointer;

  margin-left: 8%;
}

.skill-picture-container {
  width: 120px;
  height: 120px;
  border-radius: 300px;
  border: 2px solid gold;
  background-color: rgba(132, 132, 132, 0.224);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  z-index: 20;
}

.skill-highlight {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 50%;

  width: 200%;
  z-index: 3;

  transition: 0.15s;
}

.skill-circle-cover {
  position: absolute;
  background: rgb(70, 70, 70);
  top: 0;
  bottom: 0;
  left: -1px;

  width: 120px;
  height: 120px;
  border-radius: 300px;

  z-index: 15;
}

.skill-picture {
  width: 80%;
  object-fit: cover;
  z-index: 19;
}

.skill-title {
  margin-left: 40px;

  color: rgb(244, 216, 55);

  font-size: 2em;
}
